package cmp

import "osuprogressserver/types"

templ Header(player types.User, stats types.Stats) {
<div>
    <div style="background-size: cover; background-position: center center; height: 250px">
      <img src={ player.Banner } alt="User Banner" style="width: 100%; height: 100%; object-fit: cover;"></img>
    </div> 
        <a href={ templ.SafeURL("https://osu.ppy.sh/users/"+ i(player.UserId))  } class="left-12 inline-block rounded -top-12 relative max-h-0 h-0  hover:scale-105" target="_blank" rel="noopener noreferrer">
            <img src={ player.Avatar } style="width:100px;" class=""></img>
        </a>
    <div class="flex justify-around">
        <div class="text-left pt-3 pb-3">
            <p class="">{ player.Username }</p>
            <p class="">#{ player.GlobalRank } (#{ player.LocalRank })</p>
            <p class=""><span class={"fi fi-"+player.Countrycode }></span>{ player.Country }</p>
        </div>
        <div class="text-left pt-3 pb-3">
            <p class="">
                ⏰ { stats.Time } [{ stats.Status}]
            </p>
            <p class="">💻 { stats.Screen }</p>
            <p class="">📂 { i(stats.Count) }</p>
        </div>
    </div>
</div>
}