
.content {
    max-width: 1000px;
    min-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.score-backdrop--dark {
    background-color: rgba(23,26,28,1);
}

.score-backdrop--medium--light {
    background-color: rgba(34,40,42,1)
}

.score-backdrop--medium {
    background-color: rgb(52, 58, 61)
}

.score-backdrop--medium--dark {
    background-color: rgba(46,53,56,1)
}


.score-backdrop--light {
    background-color: rgba(57,66,70,1)
}


.backdrop--light {
    background-color: rgba(70, 57, 63, 1);
}

.backdrop--medium {
    background-color: rgba(56, 46, 50, 1);
}

.backdrop--medium--light {
    background-color: rgba(42, 34, 38, 1);
}

.backdrop--medium--dark {
    background-color: rgba(56, 46, 50, 1)
}
.backdrop--dark {
    background-color: rgba(28, 23, 25, 1) 
}

.text--dark--yellow {
    color: rgba(221, 159, 8, 1);
}

.text--gray {
    color: rgba(162, 142, 151, 1);
}

.text--yellow {
    color: rgba(252, 198, 51, 1);
}

.text--pink {
    color: rgba(255, 102, 171, 1);
}

.text--orange {
    color: #dc8726;
}

.text--pink--dark {
    color: #663e70;
}